<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RutaBackups" value="C:\Novafis\CopiasSeguridad"></add>
		<add key="BaseDatos" value="novafis4"></add>
		<add key="Usuario" value="root"></add>
		<add key="Clave" value="walrus"></add>
	</appSettings>
</configuration>
